body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    gap: 40px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
    cursor: pointer;
    background: #64dd80;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px; 
}
button:hover {
    background: #218838;
}

ul {
    list-style: none;
    padding: 0;
    }

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-devolver {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 10px;
}
.btn-devolver:hover { background-color: #e0a800; }

.btn-excluir {
    background-color: #df515f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 10px;
}

.btn-excluir:hover {
    background-color: #c52636;
}

/* Estilização da Tabela de Empréstimos */
.tabela-emprestimos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: white;
}

.tabela-emprestimos th, 
.tabela-emprestimos td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabela-emprestimos th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
}

.tabela-emprestimos tr:hover {
    background-color: #f1f1f1;
}